<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- SECURITY WARNING - DO NOT COMMIT THIS!! -->
    <add key="WordPressUsername" value="" />
    <add key="WordPressPassword" value="" />
    <add key="WordPressBaseUrl" value="http://blogprogramisty.net" />
    <add key="WordPressBlogId" value="0" />
    <!-- / SECURITY WARNING - DO NOT COMMIT THIS!! -->
  </appSettings>
</configuration>